<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Onidiri Mobile Salon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="public/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="public/css/animate.css">
    
    <link rel="stylesheet" href="public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="public/css/magnific-popup.css">

    <link rel="stylesheet" href="public/css/aos.css">

    <link rel="stylesheet" href="public/css/ionicons.min.css">

    <link rel="stylesheet" href="public/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="public/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="public/css/flaticon.css">
    <link rel="stylesheet" href="public/css/icomoon.css">
	<link rel="stylesheet" href="public/css/style.css">
	<link rel="stylesheet" href="public/css/my_style.css">
  </head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand text-white" href="/">Onidiri Mobile Salon</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item"><a href="/" class="nav-link text-white my_menu">Home</a></li>
	        	<li class="nav-item"><a href="services" class="nav-link text-white my_menu">Services</a></li>
	        	<li class="nav-item"><a href="gallery" class="nav-link text-white my_menu">Gallery</a></li>
	        	<li class="nav-item active"><a href="about" class="nav-link text-white my_menu">About</a></li>
	          <li class="nav-item"><a href="contact" class="nav-link text-white my_menu">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url('public/images/Onidiri logo.jpg'); background-size: contain;" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5">
            <h2 class="mb-0 bread">About Us</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container">
			<div class="row">
				<div class="col-md-6 d-flex">
					<div class="p-md-5 img img-2 d-flex justify-content-center align-items-center">
						<video src="public/videos/onidiri-video.mp4" class="w-75" controls></video>
					</div>
				</div>
				<div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ftco-animate">
					<div class="heading-section mb-4 mt-md-5">
						<h1 class="big">About</h1>
						<span class="subheading text-info">About Us</span>
						<h2 class="mb-4">A World Class Beauty Salon Company</h2>
					</div>
					<div class="pb-md-5">
						<p>
							Onidiri Mobile Salon was established in 2018 and since then it has been growing to 
							what it is today. The company has buckled down and keep on working tirelessly on bringing the best Hair
							care services to her amazing clients.  
						</p>
						<p>
							It is an online haven which offers first class beauty experience to clients in the comfort
							of their homes. We offer results of the most noteworthy quality, hair and beauty care tips
							to give you that radiant look yo deserve. 
						</p>
						<p>
							Our customers are our family so we keep training our stylists to ensure they deliver top notch and stress
							free services.
						</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 d-flex">
					<div class="p-md-5 img img-2 d-flex justify-content-center align-items-center">
						<img src="public/images/image7.jpg" class="w-75">
					</div>
				</div>
				<div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ftco-animate">
					<div class="heading-section mb-4 mt-md-5">
						<h2 class="mb-4">Mission Statement</h2>
					</div>
					<div class="pb-md-5">
						<p>Our mission is to render the best service and to put your necessities first by giving
						   the consideration and care that you merit so we can help you bring your beauty dream alive
						</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 d-flex">
					<div class="p-md-5 img img-2 d-flex justify-content-center align-items-center">
						<img src="public/images/image10.jpg" class="w-75">
					</div>
				</div>
				<div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ftco-animate">
					<div class="heading-section mb-4 mt-md-5">
						<h2 class="mb-4">Vision Statement</h2>
					</div>
					<div class="pb-md-5">
						<p>
							To make hair care services hassle free for our clients
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="testimony-section my-testimonials bg-light" style="margin-top: -200px;">
		<div class="container">
			<div class="row no-gutters ftco-animate justify-content-center">
					<div class="col-md-6 col-lg-5 d-flex">
						<div class="testimony-img" style="background-image: url(public/images/happy-customer.png);"></div>
					</div>
				<div class="col-md-6 col-lg-7 py-5">
					<div class="py-md-5">
						<div class="heading-section ftco-animate">
							<h1 class="big big-2">Happy</h1>
							<span class="subheading text-info">Testimony</span>
							<h2 class="mb-0">Happy Customer</h2>
						</div>
						<div class="carousel-testimony owl-carousel ftco-animate">
							<div class="item">
								<div class="testimony-wrap pb-4">
									<div class="text">
										<p class="mb-4">
											I can keep my head up because i got my hair done by the best
										</p>
									</div>
									<div class="d-flex">
										<div class="user-img" style="background-image: url(public/images/testimonial1.jpg)">
										</div>
										<div class="pos ml-3">
											<p class="name">Satisfied Client</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimony-wrap pb-4">
									<div class="text">
										<p class="mb-4">
											I feel beautiful thanks to Onidiri Mobile Salon
										</p>
									</div>
									<div class="d-flex">
										<div class="user-img" style="background-image: url(public/images/testimonial2.jpg)">
										</div>
										<div class="pos ml-3">
											<p class="name">Satisfied Client</p>
										</div>
									</div>
								</div>
							</div>
						<div class="item">
							<div class="testimony-wrap pb-4">
								<div class="text">
									<p class="mb-4">
										Hair neatly done by the best hands
									</p>
								</div>
								<div class="d-flex">
									<div class="user-img" style="background-image: url(public/images/testimonial3.jpg)">
									</div>
									<div class="pos ml-3">
										<p class="name">Satisfied Client</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap pb-4">
								<div class="text">
									<p class="mb-4">
										I think everyone should book an appointment with Onidiri Mobile Salon 
										their work is phenomenal
									</p>
								</div>
								<div class="d-flex">
									<div class="user-img" style="background-image: url(public/images/testimonial5.jpg)">
									</div>
									<div class="pos ml-3">
										<p class="name">Satisfied Client</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
    </section>


	<footer class="ftco-footer ftco-section">
		<div class="container">
		  <div class="row mb-5">
		  <div class="col-md">
			<div class="ftco-footer-widget mb-4">
			<h2 class="ftco-heading-2 logo">Onidiri Mobile Salon</h2>
			<p>We bring the salon to your comfort zone</p>
			<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
				<li class="ftco-animate"><a href="https://www.twitter.com/OnidiriS"  target="blank"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="https://web.facebook.com/onidirimobilesalon-119278439468797/" target="blank"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com/onidirimobilesalon/" target="blank"><span class="icon-instagram"></span></a></li>
			</ul>
			</div>
		  </div>
		  <div class="col-md">
			 <div class="ftco-footer-widget mb-4">
			<h2 class="ftco-heading-2">Links</h2>
			<ul class="list-unstyled">
			  <li><a href="/" class="py-2 d-block nav-link text-white my_menu">Home</a></li>
			  <li><a href="about" class="py-2 d-block nav-link text-white my_menu">About</a></li>
			  <li><a href="services" class="py-2 d-block nav-link text-white my_menu">Services</a></li>
			  <li><a href="gallery" class="py-2 d-block nav-link text-white my_menu">Gallery</a></li>
			  <li><a href="contact" class="py-2 d-block nav-link text-white my_menu">Contact</a></li>
			</ul>
			</div>
		  </div>
		  <div class="col-md">
			<div class="ftco-footer-widget mb-4">
			  <h2 class="ftco-heading-2">Have a Questions?</h2>
			  <div class="block-23 mb-3">
			  <ul>
				<li><a href="tel:08036104198"><span class="icon icon-phone"></span><span class="text">Call Us</span></a></li>
				<li><a href="mailto: onidirimobilesalon@yahoo.com"><span class="icon icon-envelope"></span><span class="text">onidirimobilesalon@gmail.com</span></a></li>
			  </ul>
			  </div>
			</div>
		  </div>
		  </div>
		  <div class="row">
		  <div class="col-md-12 text-center">
	  
			<p>
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> Onidiri Mobile Salon
			</p>
		  </div>
		  </div>
		</div>
	</footer>
	  
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="public/js/jquery.min.js"></script>
  <script src="public/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="public/js/popper.min.js"></script>
  <script src="public/js/bootstrap.min.js"></script>
  <script src="public/js/jquery.easing.1.3.js"></script>
  <script src="public/js/jquery.waypoints.min.js"></script>
  <script src="public/js/jquery.stellar.min.js"></script>
  <script src="public/js/owl.carousel.min.js"></script>
  <script src="public/js/jquery.magnific-popup.min.js"></script>
  <script src="public/js/aos.js"></script>
  <script src="public/js/jquery.animateNumber.min.js"></script>
  <script src="public/js/bootstrap-datepicker.js"></script>
  <script src="public/js/jquery.timepicker.min.js"></script>
  <script src="public/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="public/js/google-map.js"></script>
  <script src="public/js/main.js"></script>
    
  </body>
</html>